* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #202020;
    padding: 1rem;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav h1 {
    font-size: 2rem;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

main h2{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 1.5rem;
}

.form-control label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.form-control input, .form-control select {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.form-control input[type="button"] {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
}

.form-control input[type="button"]:hover {
    background-color: #218838;
}
.tabelaDeContatos {
    margin-top: 2rem;
}

.tabelaDeContatos h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

thead {
    background-color: #202020;
    color: white;
}

th, td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody td {
    transition: background-color 0.3s ease;
    background-color: #f9f9f9;
}

.erro, .sucesso{
    text-align: center;
    margin: 1rem 0 1rem 0;
    border-radius: 7px;
    height: 1.5rem;
    font-size: 1.1rem;
}

.erro{
    background-color: #ff3b3b;
}

.sucesso{
    background-color: #28a745;
}


@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    th, td {
        padding: 0.75rem;
    }
}